@media screen and (min-width: 500px) {

    main {
        display: flex;
        justify-content: space-evenly;
        background-color: #1969B2;
    }
}
/*will define a range for screen between 900 and 1200 a lot easier to scale up then down so start at a mobile device and go to a web page*/
@media screen and (min-width: 900px) and (max-width: 1200px) {
    main{
        background-color: yellow;
    }
    
}

@media screen and (max-width: 499px){
    main{
        background-color: #3f8c5d;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
