.text-center{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-image: url("../image/pizza.png");
    height: 346px;
    background-size: cover;
    justify-content: center;
    position: absolute;
    right: 8em;
    text-align: center;
}
#welcome{
    height: 50px;
}

