
.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

h2{
    color: dimgray;
    text-decoration: underline;
}

html{
    background-color: aquamarine ;
    background-image: url("..image/our_parent-company.jpg");
}
